body {
    font-family: Lato, sans-serif
}

.container {
    width: 80%;
    margin: 0 auto
}

.promotional_offers {
    position: relative
}

.promotional_offers_bg {
    background: url(../assets/img/14.-2-1024x435.png) center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 500px;
    position: relative
}

.promotional_offers_bg_in {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    top: 60px
}

.promotional_offers_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.promotional_offers_span_h1 {
    display: inline-block;
    font-size: 32px;
    font-weight: 900
}

.promotional_offers_span_text {
    display: inline-block;
    font-size: 26px
}

.offers_window {
    width: 340px;
    height: 400px;
    border: 1px solid #c8091b;
    overflow: hidden;
    border-radius: 12px;
    position: relative
}

.black_elem_offers {
    width: 250px;
    height: 60px;
    background-color: #1e1e1e;
    transform: rotate(135deg);
    position: relative;
    right: 112px
}

.red_elem_offers {
    width: 656px;
    height: 300px;
    background-color: #c8091b;
    transform: rotate(135deg);
    position: relative;
    right: 241px
}

.red_lite_elem_offers {
    width: 356px;
    height: 300px;
    background-color: #e34150;
    transform: rotate(135deg);
    position: relative;
    left: 141px;
    bottom: 109px
}

.offers_window_text {
    position: absolute;
    top: 75px;
    left: 18px;
    text-align: center
}

.offers_window_form {
    position: absolute;
    top: 189px;
    text-align: center
}

.offers_window_text_one {
    font-size: 28px;
    font-weight: 900;
    font-family: Lato, sans-serif;
    color: #fff
}

.offers_window_text_two {
    font-size: 18px;
    font-weight: 900;
    font-family: Lato, sans-serif;
    color: #fff;
    margin-top: 20px;
}

.offers_window_input {
    width: 80%;
    height: 30px;
    border-radius: 3px;
    border: none;
    outline: 0;
    margin-top: 15px;
    text-align: center;
    font-weight: 900
}

.offers_window_submit {
    width: 80%;
    height: 35px;
    border-radius: 3px;
    border: none;
    outline: 0;
    background: #1e1e1e;
    color: #fff;
    margin-top: 15px;
    cursor: pointer
}

.class_h2 {
    font-size: 42px;
    width: 100%;
    text-align: center;
    margin: 50px 0
}

.ug-thumb-wrapper.ug-tile.ug-tile-clickable:hover {
    transform: scale(1.03);
    transition: .5s
}

.advantages_block {
    flex-wrap: wrap;
    margin-bottom: 60px
}

.advantages {
    display: flex;
    justify-content: center
}

.advantages_numb {
    position: relative;
    flex-basis: 100px;
    border: 1px solid #f0f0f0;
    font-size: 50px;
    line-height: 2em;
    font-weight: 500;
    text-align: center;
    color: #c8091b
}

.advantages_numb_in {
    flex-basis: 426.66px;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
    margin-right: 15px
}

.advantages_numb_h4 {
    font-size: 14px;
    line-height: 1.4em;
    text-align: left;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: 900
}

.advantages_numb_text {
    flex-basis: 266.66px
}

.advantages_numb_p {
    font-size: 13px;
    line-height: 1.4em;
    text-align: left;
    margin-bottom: 0
}

.Packages {
    width: 100%
}

.Packages_in {
    display: flex;
    flex-basis: 1208.72px;
    justify-content: space-between
}

.packages_cart {
    flex-basis: 297.98px;
    background: #fff;
    z-index: 2;
    text-align: center;
    border: 1px solid #f0f0f0;
    padding: 55px 40px 70px;
    transition: all .35s ease-out;
    -webkit-transition: all .35s ease-out;
    -ms-transition: all .35s ease-out
}

.packages_h3 {
    margin: 0;
    color: #222;
    font-weight: 700;
    text-align: center;
    font-size: 34px;
    line-height: 1.4em;
    padding-bottom: 25px
}

.price-val span {
    font-size: 14px;
    color: #989898
}

.price-val strong {
    font-size: 50px;
    line-height: 1em;
    display: inline-block;
    font-weight: 500;
    color: #c8091b
}

.price-val {
    padding-bottom: 30px
}

.price-item-wrap {
    position: relative;
    width: 100%;
    height: 510px
}

.price-item {
    position: relative;
    flex-basis: 297.98px;
    background: #fff;
    z-index: 2;
    text-align: center;
    border: 1px solid #f0f0f0;
    padding: 55px 40px 70px;
    transition: all .35s ease-out;
    -webkit-transition: all .35s ease-out;
    -ms-transition: all .35s ease-out
}

.price-item h3 {
    font-size: 34px;
    line-height: 1.4em;
    padding-bottom: 25px
}

.price-val {
    padding-bottom: 30px
}

.price-val b,
.price-val strong {
    font-size: 50px;
    line-height: 1em;
    display: inline-block;
    font-weight: 500
}

.price-val span {
    font-size: 14px;
    color: #989898
}

.price-item ul {
    padding-bottom: 20px
}

.price-item ul li {
    font-size: 13px;
    color: #a1a1a1;
    line-height: 1.4em;
    padding-bottom: 25px
}

.price-item ul li span {
    font-weight: 700;
    color: #222;
    text-transform: uppercase;
    padding-right: 5px
}

.price-item .hide-text {
    color: #a1a1a1;
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: all .35s ease-out;
    -webkit-transition: all .35s ease-out;
    -ms-transition: all .35s ease-out
}

.hide-more-text {
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: all .35s ease-out;
    -webkit-transition: all .35s ease-out;
    -ms-transition: all .35s ease-out
}

@media (min-width:992px) {

    .is-builder .hide-more-text,
    .is-builder .hide-text,
    .price-item:hover .hide-more-text,
    .price-item:hover .hide-text {
        visibility: visible;
        opacity: 1
    }

    .is-builder .hide-more-text,
    .price-item:hover .hide-more-text {
        margin-bottom: 30px;
        height: 70px
    }

    .is-builder .hide-text,
    .price-item:hover .hide-text {
        height: 65px;
        margin-top: 30px
    }

    .is-builder .price-item,
    .price-item:hover {
        margin-top: -100px
    }

    .is-builder .price-item,
    .price-item:hover {
        left: 0;
        right: 0
    }
}

@media (max-width:992px) {
    .price-item-wrap {
        height: auto
    }

    .price-item {
        left: auto;
        position: relative;
        right: auto;
        margin-bottom: 50px
    }
}

@media (max-width:766px) {
    .price-item {
        padding: 45px 30px 40px
    }

    .price-item h3 {
        font-size: 26px;
        line-height: 1.1em
    }

    .price-val b,
    .price-val strong {
        font-size: 40px;
        line-height: 1em
    }
}

.btn-primary {
    height: 50px;
    line-height: 50px;
    padding: 14px 32px;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .25px;
    color: #222;
    background: 0 0;
    position: relative;
    border: 0 none;
    outline: 0;
    transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    text-decoration: none
}

.btn-primary:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #222;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform-origin: center center;
    z-index: 5;
    transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    opacity: 0
}

.btn-primary:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #c8091b;
    transform-origin: center center;
    z-index: 5;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .25s ease-out
}

.btn-primary:hover:before {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    opacity: 1
}

.btn-primary:hover:after {
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    opacity: 0
}

.btn-primary:hover {
    color: #c8091b
}

.btn-primary.input-send {
    border: 1px solid #fff
}

.btn-primary.input-send:hover {
    border-color: #222;
    color: #fff
}

.btn-primary.input-send.white-b {
    border-color: #fff;
    color: #fff
}

.btn-primary.input-send.white-b:hover {
    color: #222;
    border-color: #222
}

.gift_list_style li {
    font-size: 26px;
    margin: 20px 0
}

.gift_list_style ::before {
    content: url(../assets/img/svg/checkmark_83735.svg);
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block
}

.reviews-block {
    background-color: #fff;
    padding: 1em;
    max-width: 80%;
    margin: 0 auto
}

.review.flex {
    display: flex !important;
    height: 180px;
    justify-content: space-around;
    align-items: center
}

.review {
    outline: 0
}

.review-photo {
    background-image: url(../assets/img/author-photo.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: cover;
    width: 120px;
    height: 120px
}

.review-info {
    max-width: 60%;
    font-size: 14px
}

.review-author-name {
    font-weight: 600;
    font-size: 16px
}

.review-author-status {
    font-size: 14px
}

.review-text {
    padding: 1em 0;
    color: #abb2b9
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #c8091b;
    width: 20px;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 50px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: #ABB2B9;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.faq_block {
    display: flex
}

.content {
    width: 50%;
    padding: 20px;
    padding: 0 60px 0 0;
    margin: 0 10px
}

.centerplease {
    margin: 0 auto;
    max-width: 270px;
    font-size: 40px
}

.question {
    position: relative;
    background: 0 0;
    border: 1px solid #f0f0f0;
    margin: 0;
    padding: 10px 10px 10px 50px;
    display: block;
    width: 100%;
    cursor: pointer
}

.answers {
    padding: 0 15px;
    margin: 5px 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .7s ease;
    -moz-transition: .7s ease;
    -o-transition: .7s ease;
    transition: .7s ease
}

.questions:checked~.answers {
    height: auto;
    opacity: 1;
    padding: 15px
}

.plus {
    position: absolute;
    margin-left: 10px;
    z-index: 5;
    font-size: 2em;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease
}

.questions:checked~.plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.questions {
    display: none
}

@media (max-width:1400px) {
    .promotional_offers_span_h1 {
        font-size: 27px
    }
}

@media (max-width:1120px) {
    .promotional_offers {
        height: 940px
    }

    .offers_window {
        position: relative;
        top: 444px
    }

    .promotional_offers_text {
        position: relative;
        top: 169px
    }

    .offers_window_second {
        top: 390px !important
    }

    .margin_for_reviews {
        margin-top: 210px
    }

    .gift_list_style {
        width: 762.47px;
        text-align: center;
    }

    .advantages {
        flex-wrap: wrap;
    }

    .promotional_offers_text {
        text-align: center;
    }
}

@media (max-width:900px) {
    .Packages_in {
        flex-wrap: wrap;
        justify-content: center;
    }

    .faq_block {
        flex-wrap: wrap;
        justify-content: center;
    }

    .gift_list_style {
        width: 100%;
    }

    .class_h2 {
        font-size: 35px;
    }
}

@media (max-width: 500px) {
    .review-photo {
        display: none;
    }
}

@media (max-width: 414px) {
    .promotional_offers {
        height: 1045px;
    }
}

@media (max-width: 375px) {
    .promotional_offers {
        height: 1040px;
    }
}