body{
  background: url(images/bg.png);
  font-size: 16px;
  font-family: "Arial";
  line-height: 1.2;
  margin: 0;
}
.bg_layer {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  display: none;
  z-index: 1;
}
.container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  overflow: hidden;
}
/* Навигация */
.nav{
  display: flex;
  justify-content: flex-start;
}
.nav a{
  text-decoration: none;
  font-size: 12px;
  padding-top: 10px;
  color: #cccccc;
  margin-left: 3px;
}
.nav .comments-nav{
  color: #ff6600;
}

/* Инфо и кнопка добавления отзыва */
.add-comment h1{
  color: #669900;
  font-size: 16px;
}
.btn-add{
  width: 240px;
  height: 38px;
  background: #99cc00;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

/* Отзывы */
.comment-container{
  display: grid;
  grid-template-areas:
  "info comment"
  "info reply";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 130px 1fr;
  margin-top: 50px;
}
.info-author{
  grid-area: info;
}
.author{
  color: #ff6600;
  font-weight: bold;
}
.date{
 color: #a0a0a0;
 font-size: 16px;
 margin-top: 10px;
}
.comment{
  grid-area: comment;
  font-style: italic;
}
.comment-text{
  margin: 0;
}
.reply-container{
  display: flex;
  grid-area: reply;
}
.reply-text{
  margin: 0;
  font-style: italic;
  font-size: 14px;
}
.icon img{
  margin-right: 15px;
}

.btn-show-more{
  background: #99cc00;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 60px;
  width: 260px;
  height: 56px;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 30px;
  cursor: pointer;
}
.show-more{
  text-align: center;
}
.pages{
  display: flex;
  justify-content: center;
  font-size: 18px;
  width: 15%;
  margin: auto;
  margin-top: 25px;
}
.pages a{
  color: #a0a0a0;
  text-decoration: none;
  margin-right: 20px;
  margin-bottom: 30px;
}


/* Окно для отзыва */
.pop-up{
  width: 757px;
  height: 307px;
  padding: 19px 23px 16px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #99cc00;
  background: #fff;
  display: none;
  z-index: 2;
}
.heading{
  color: #99cc00;
  text-align: center;
  font-size: 22px;
}
.pop-up .name{
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pop-up .rating{
  font-size: 20px;
}
.pop-up input{
  width: 700px;
  height: 145px;
  background-color: #f3f3f3;
  border: 1px solid #e6e6e6;
  outline: none;
  font-style: italic;
  font-size: 18px;
  margin-top: 20px;
}
.pop-up button{
  border: none;
  outline: none;
  background: #99cc00;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  width: 220px;
  height: 35px;
  cursor: pointer;
  margin-bottom: 16px;
  margin-top: 16px;

}
.btn-submit{
  text-align: center;
}
.stars label{
    font-family: "icomoon";
    position: relative;
    cursor: pointer;
    color: #DFE3E4;
}

/* Star rating */
.product-review-stars{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

/*end decoration*/

.visuallyhidden{
  position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px);
}

.product-review-stars input:checked + label:after{
    visibility: visible;
    -webkit-transform: scale(1);
    opacity: 1;
}

.product-review-stars  {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.product-review-stars label{
    font-family: "icomoon";
    position: relative;
    cursor: pointer;
    color: #DFE3E4;
}
.product-review-stars input:checked ~ label:before{
    opacity: 1;
}
.product-review-stars:hover input ~ label:before{
    opacity: 0;
}

.product-review-stars input + label:before{
    content: "\2605";
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out, color .3s ease-in-out;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
    -ms-backface-visibility:hidden; /* Internet Explorer */
}
.product-review-stars input + label:hover:before,
.product-review-stars input + label:hover ~ label:before
{
    opacity: 1;
}
.product-review-stars input + label:nth-of-type(1):after,
.product-review-stars input + label:nth-of-type(1):before,
.product-review-stars input +  label:nth-of-type(1):hover:before,
.product-review-stars input + label:nth-of-type(1):hover ~ label:before,
.product-review-stars input:nth-of-type(1):checked ~ label:before{
    color: #99cc00;
}
.product-review-stars input + label:nth-of-type(2):after,
.product-review-stars input + label:nth-of-type(2):before,
.product-review-stars input + label:nth-of-type(2):hover:before,
.product-review-stars input + label:nth-of-type(2):hover ~ label:before,
.product-review-stars input:nth-of-type(2):checked ~ label:before{
    color: #99cc00;
}
.product-review-stars input + label:nth-of-type(3):after,
.product-review-stars input + label:nth-of-type(3):before,
.product-review-stars input + label:nth-of-type(3):hover:before,
.product-review-stars input + label:nth-of-type(3):hover ~ label:before,
.product-review-stars input:nth-of-type(3):checked ~ label:before{
    color: #ff6600;
}
.product-review-stars input + label:nth-of-type(4):after,
.product-review-stars input + label:nth-of-type(4):before,
.product-review-stars input + label:nth-of-type(4):hover:before,
.product-review-stars input + label:nth-of-type(4):hover ~ label:before,
.product-review-stars input:nth-of-type(4):checked ~ label:before{
    color: #ff6600;
}

.product-review-stars input + label:nth-of-type(5):after,
.product-review-stars input + label:nth-of-type(5):before,
.product-review-stars label:nth-of-type(5):hover:before,
.product-review-stars input:nth-of-type(5):checked ~ label:before{
    color: #FF0000;
}

.product-review-stars label:nth-of-type(5):hover:before{
    color: #FF0000 !important;
}


@media  only screen and (min-device-width: 320px) and (max-device-width: 600px) {
body{
  font-size: 8px;
}
.add-comment{
  width: 90%;
  overflow: hidden;
}
.btn-add{
  width: 100px;
  height: 20px;
  font-size: 8px;
}
.container{
  margin: 0;
  padding-left: 5px;
  padding-right: 0;
  width: 100%;
}
.comment-container{
  grid-template-areas:
  "info comment"
  "reply reply";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 50px 1fr;
  margin-top: 20px;
}

.date{
 font-size: 5px;
}

.reply-text{
  margin: 0;
  font-size: 8px;
}
.icon img{
  margin-right: 2px;
  width: 20px;
  height: 15px;
}
.nav a{
  font-size: 6px;
}
.show-more{
  width: 100%;
}
.btn-show-more{
  width: 100px;
  height: 20px;
  font-size: 8px;
  margin-top: 20px;
}
.pages{
  font-size: 8px;
}
.pages a{
  margin-right: 10px;
}
.pop-up{
  width: 70%;
  height: 180px;
overflow: hidden;
}
.heading{
  font-size: 16px;
}
.pop-up .name{
  font-size: 10px;
}
.pop-up .rating{
  font-size: 10px;
}
.pop-up input{
  width: 200px;
  height: 50px;
}
.pop-up button{
  font-size: 8px;
  width: 120px;
  height: 20px;
}

}
